{% extends "layout.html" %}


{% block content %}
<div>
    {% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}

</div>

<h4 style="text-align:center;">{{message}}</h4>

<div>


    {% from "_formhelpers.html" import render_field %}
    {% from "_hiddenformhelpers.html" import render_hidden_field %}

	<form method="post" action="{{ url_for('post_reservation') }}" >
		<ul>

			<p>ホテル名：{{ hotel.name }}</p>
			<p>予約名前：{{ user.name }}</p>

		{{ render_hidden_field(form.user_id) }}
		{{ render_hidden_field(form.hotel_id)  }}
		{{ render_field(form.check_in) }}
		{{ render_field(form.check_out) }}
		{{ render_hidden_field(form.status)  }}


          <li class="submit">
          <input type="submit" >
          </li>

        </ul>

    </form>

</div>





{% endblock %}