{% extends "layout.html" %}

{% block content %}



            <div class="form-group col-md-6">

                <p>ホテル名前</p>
                <p>{{ hotel['name'] }}</p>
                <p>予約者名前</p>
                <p>{{ user["name"] }}</p>

                <p>チェックイン日</p>
                <p>{{ check_in }}</p>

                <p>チェックアウト日</P>
                <p>{{ check_out }}</p>

                {% from "_hiddenformhelpers.html" import render_hidden_field %}

                <form method="post" action="{{ url_for('post_save_reservation') }}">
                    {{ render_hidden_field(form.user_id) }}
		            {{ render_hidden_field(form.hotel_id)  }}
		            {{ render_hidden_field(form.check_in) }}
		            {{ render_hidden_field(form.check_out) }}

                    <input type="submit" value="save">
                    <a href="{{ url_for('index') }}">cancel</a>

                </form>




            </div>


{% endblock %}