{% extends "layout.html" %}

{% block content %}

<div>
    {% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</div>

<h3>{{ session["user"]["name"] }}さん　の　予約</h3>

{% for reservation in reservations %}
<div>
    <p>予約者：{{ reservation["user"]["name"] }}</P>
    <P>予約ホテル：{{ reservation["hotel"]["name"] }} </P>
    <P>チェックイン日：{{ reservation["check_in"] }}</P>
    <P>チェックアウト日：{{ reservation["check_out"] }}</P>
    <P>予約状態：{% if reservation["status"] == 1 %}予約ずみ{% else %}支払ずみ{% endif %}</P>

    {% if reservation["status"] == 1%}
     <form method="post" action="{{ url_for('reservation_delete') }}">
        <input type="hidden" name="id" value="{{ reservation['id'] }}">
        <input type='submit' value='予約キャンセル' class=" btn btn-danger">
     </form>
    {% endif %}
    <hr>
</div>
 {% endfor %}



{% endblock %}