{% extends "layout.html" %}


{% block content %}
<div>
    {% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}

</div>


<div>

    <form  method="post" action="{{ url_for('admit_login') }}">

         <ul>
          <li>
            <label for="mail">メール:</label>
            <input id="mail" type="text"  name="mail">
          </li>


          <li>
            <label for="password">パスワード:</label>
            <input id="password" type="text"  name="password">
          </li>


             <li>
            <label for="admit">パスワード:</label>
            <input id="admit" type="hidden"  name="admit" value="{{ user.admit }}>
          </li>




          <li class="submit">
            <input type="submit" >
          </li>

         </ul>

    </form>

</div>





{% endblock %}